<html>
	<head>
		<title>OneOC</title>
		<script src='http://maps.google.cn/maps/api/js'></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="lodash.js"></script>
		<script src="angular-google-maps.js"></script>
		<script src="tax_professionals_ng.js"></script>
		<style>
			.angular-google-map-container { height: 400px; width:400px; }
		</style>
	</head>
	<body ng-app="OneOC">
		<div ng-controller="LoginController">
			<div ng-show="!loggedIn">
				<form>
					<input ng-model="uciID"/>
					<button ng-click="setLogin(uciID)">Login</button>
				</form>
			</div>
			<div ng-show="loggedIn" ng-controller="TaxProController as tpController">
				<div class="header">
					Welcome, {{$parent.id}}
					<span class="logout"><a href="#" ng-click="$parent.logout()">Logout</a>
				<div>
					<input type="text" ng-model="name"/>
					<input type="text" ng-model="last"/>
					<button ng-click="addProfessional(name, [1])">Add</button>
				</div>

				<ui-gmap-google-map ng-if="loggedIn" center='map.center' zoom='map.zoom'></ui-gmap-google-map>
				<button ng-click='forceRefreshMap()'>Refresh</button>

				<table>
					<th>

					</th>
					<tr ng-repeat="pro in listOfProfessionals">
						<td>
							{{$index}}
						</td>
						<td>
							{{pro.name}}
						</td>
						<td>
							<ul>
								<li ng-repeat="lan in pro.languages">{{spokenLanguages[lan]}}</li>
							</ul>
						</td>
						<td>
							<button ng-controller="TaxProController" ng-click="deleteProfessional($index)">X</button>
						</td>
				</table>
			</div>
		</div>
	</body>
</html>